---
import HeroLogo from "../components/HeroLogo.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="MASSI - ASESORIA EN EXTRANJERIA ">
	<main
		class="relative w-full h-screen flex flex-col gap-3 items-center text-center justify-center bg-[#131A20]"
	>
		<div class="flex flex-col justify-center items-center gap-4">
			<HeroLogo class="h-auto w-[120px] md:w-[150px]" />
			<h1
				class="font-title font-bold text-4xl md:text-[48px] bg-gradient-to-t from-[#916919] to-[#F7B32B] bg-clip-text text-transparent"
			>
				MASSI EXTRANJERIA
			</h1>
		</div>
		<p class="text-md w-[90%] md:w-[50%] font-[300] text-[#C8CDD0]">
			Mientras finalizamos nuestra web, puedes contactarnos para cualquier
			consulta o asistencia personalizada. <strong class="font-semibold">¡Estamos listos para ayudarte a
				resolver tus trámites con rapidez y confianza!
			</p></strong>
		<div class="absolute flex flex-col gap-3 bottom-12">
			<strong class="text-[#C8CDD0] text-md drop-shadow-[0_0_10px_rgba(255,255,255,0.4)]">Contáctanos por:</strong>
			<nav class="flex gap-5 items-center transition">
				<a href="https://facebook.com/massiextranjeria" target="_blank" class="hover:scale-95">
					<img class="h-auto w-[28px]" src="/icons/facebook.svg" alt="">
				</a>
				<a href="https://tiktok.com/@massiextranjeria"  target="_blank" class="hover:scale-95">
					<img class="h-auto w-[28px]" src="/icons/tiktok.svg" alt="">
				</a>
				<a href=""  target="_blank" class="hover:scale-95">
					<img class="h-auto w-[28px]" src="/icons/gmail.svg" alt="" >
				</a>
				<a href="https://wa.me/34614224218"  target="_blank" class="hover:scale-95">
					<img class="h-auto w-[28px]" src="/icons/whatsapp.svg" alt="">
				</a>
			</nav>
		</div>
		<div class="absolute top-10 text-[#C8CDD0] text-3xl drop-shadow-[0_0_10px_rgba(255,255,255,0.5)]">
			<strong>+34 614 22 42 18</strong>
			<p class=>Llámanos</p>
		</div>
	</main>
</Layout>
